@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,600;1,200&display=swap');

:root {
  --primary-color: #34d399;
  --dark-grey: #6b7280;
  --light-grey: #e5e7eb;
}
body {
  font-family: 'Titillium Web', sans-serif;
  margin: 0px;
}
hr {
  margin-top: 1rem;
}

/* Container */
.container {
  padding: 0rem 1rem;
}

.containercenter {
  max-width: 600px;
  margin: auto;
}

/* Links */
.link {
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.link-primary {
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  color: white;
}

.link-secondary {
  color: var(--primary-color);
  border-radius: 0.5rem;
  border: 1px solid var(--primary-color);
}

/* Lists */
.non-bullet {
  list-style: none;
}

.list-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
}

/* Nav */
.navigation {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem;
  border-bottom-left-radius: 1rem;
}

.navigation .nav-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navigation .nav-pills {
  text-align: right;
}

.navigation .link {
  color: white;
}

.navigation a:hover {
  color: black;
}

.navigation a {
  font-size: 1.1rem;
}

.navigation .link-active {
  font-weight: bold;
}

/* Header */
.hero {
  padding: 2rem;
}

.hero .hero-img {
  max-width: 350px;
  display: block;
  margin: auto;
}

.hero .hero-heading {
  color: var(--dark-grey);
  padding-top: 1rem;
  text-align: center;
}

.hero .hero-heading .highlighted {
  color: var(--primary-color);
}

/* Section */

.section {
  padding: 2rem;
}

.section h1 {
  text-align: center;
}

.ow {
  background-color: var(--light-grey);
}

/* Footer */

.footer {
  background-color: var(--primary-color);
  padding: 2rem 1rem;
  text-align: center;
  color: white;
  border-top-right-radius: 1rem;
}

.footer .link {
  color: white;
}

.footer ul {
  padding-inline-start: 0px;
}
